PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    puntos INTEGER DEFAULT 0
);
INSERT INTO clientes VALUES(1,'Juan Perez',150);
INSERT INTO clientes VALUES(2,'Maria Lopez',300);
INSERT INTO clientes VALUES(3,'Carlos Ramirez',50);
CREATE TABLE premios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    puntos_requeridos INTEGER NOT NULL
);
INSERT INTO premios VALUES(1,'Polo Deportivo',500);
INSERT INTO premios VALUES(2,'Camiseta Oficial',800);
INSERT INTO premios VALUES(3,'Cerveza',200);
INSERT INTO sqlite_sequence VALUES('clientes',3);
INSERT INTO sqlite_sequence VALUES('premios',7);
COMMIT;
